.review {
  margin-bottom: 18px;
  font-family: 'Roboto','Helvetica', sans-serif;
  overflow:hidden;
}

.reviewBox {
  //display: flex;
  //padding: 12px 8px 8px 12px;
  //align-items: flex-start;
  //flex-direction: column;
}




.image {
  height: 100%;
  //backgroundSize: cover;
  width: 100%;
  position: relative;
  .categoryZ {
    position: absolute;
    right: 2%;
    top: 2%;
    color: #2fe713;
    background-color: white;
    border: 1px solid #2fe713;
    border-radius: 20px;
    font-size: 13px;
    padding: 1.4% 2%;
    font-weight: 600;

  }
  .categoryDark {
    color: #2eee13;
    background-color: #2d2a2a;
    border: 1px solid #2eee13;
  }
}
@media screen and (max-width: 728px) {
  .image {
    height: 170px;
    width: 100%;

    .categoryZ {
      font-size: 10px;
    }
  }
}


.userLink {
  font-size: 14px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: start ;
  align-items: center;
}
@media screen and (max-width: 728px) {
  .userLink {
    font-size: 10px;
  }
}


.avatar {
   display: inline-block;
 }

.titles {
  font-weight: bold;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: start ;
  align-items: start;

  .workTitle {
    font-size: 18px;
    color: #a35cdc;

  }
  .darkWork {
    color: #e0b5f3;
  }

}

.infoGrid {
  background-color: rgba(221, 221, 225, 0);
  display: flex;
  flex-direction: row;
  justify-content: space-between ;
  align-items: center;
}
.darkBox {
  color: #fffdfd;
  background-color: rgba(66, 62, 62, 0.96);
}
.gradesGrid {
  display: flex;
  flex-direction: column;
  justify-content: space-between ;
}
.authorGrade {
  display: flex;
  justify-content: space-between ;
  align-items: center;
  color: gray;
}
.gradeX {
  background-color: #583e66;
  color: #ffd500;
  font-size: 24px;
  padding: 2% 5%;
  border-radius: 10px;

}
.darkGrade {
  background-color: #c9b0ea;
}


.overallRating {
  display: flex;
  padding: 2% 0%;
  align-items: center;
  justify-content: space-between ;
}

.setRating {
    //margin-top: 30px;
    display: flex;
    justify-content: end;
}

.tags {
  display: flex;
  gap: 1%;
  align-items: center;
}
.tag {
  font-size: 13px;
  padding: 1.4% 2%;
  font-weight: 600;
  color: #252546;
  background-color: #ebebef;
  border-radius: 20px;

}
.darkTag {
  color: #ebebef;
  background-color: #242424;
}

.link {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: underline;
  }
  &:active {
    color: #b1b0b0;
  }
}
.dark {
  color: #fffdfd;
}
.bottom {
  padding: 0.15% 5%;
  background-color: rgba(255, 226, 187, 0.57);
  border-bottom-right-radius: 6px 4px;
  border-bottom-left-radius: 4px 4px;
}

.tools {
  padding: 2px;
  background-color: rgba(206, 255, 187, 0.57);
  border-top-right-radius: 6px 4px;
  border-top-left-radius: 4px 4px;
}

.reviewText {
  word-wrap: break-word;
  margin: 8px 0px;
  text-align: start;
}

.darkReview {
  color: #fafafa;
}



@media screen and (max-width: 728px) {
  .titles {
    font-size: 16px;
    .workTitle {
      margin-top: 4px;
      font-size: 14px;
    }
  }

  .authorGrade {
    font-size: 7px;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  .overallRating {
    font-size: 7px;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  .setRating {
    justify-content: start;
    align-items: start;
    font-size: 8px;
    color: #b1b0b0;
  }

  .gradeX {
    font-size: 16px;
  }


  .reviewText {
    font-size: 14px;

  }

  .tags {
    padding: 6px 0px;
  }
  .tag {
    font-size: 9px;
  }

  .bottom {
    font-size: 12px;
  }
}


.commentButton {

}
