.appBar {
  height: 50px;
}

.toolbar {
 height: 40px;
  padding: 0 1%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tooltip {
  padding: 0px;
  border: 0px;
}

.homeButton {
  color: orange;
  font-weight: bold;
  font-size: large;
}


@media (max-width: 600px) {
  .toolbar {
    height: 74px;
    padding: 0 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}


