.appBar {
  height: 50px;
}

.toolbar {
 max-height: 50px;
}

.tooltip {
  padding: 0px;
  border: 0px;
}

.homeButton {
  color: orange;
  font-weight: bold;
  font-size: large;
}


@media (min-width: 600px) {

}


